<div class="row">
  <div class="col-md-6 offset-md-3 my-5">
    <form [formGroup]="signUpGroup" (ngSubmit)="signUpSubmit()">
      <h3>Signup Form</h3>
      <hr />
      <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" />
        @if (signUpGroup.controls['email'].touched &&
        !signUpGroup.controls['email'].valid) { @if
        (signUpGroup.controls['email'].errors?.['required']) {
        <p class="text text-danger">Email is Required</p>
        } @if (signUpGroup.controls['email'].errors?.['email']) {
        <p class="text text-danger">Invalid Email Address</p>
        } }
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="text" class="form-control" formControlName="password" />
        @if (signUpGroup.controls['password'].touched &&
        !signUpGroup.controls['password'].valid) { @if
        (signUpGroup.controls['password'].errors?.['required']) {
        <p class="text text-danger">Password is Required</p>
        } }
      </div>
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!signUpGroup.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
