<div class="row">
  <div class="col-md-8">
    <h3>Post Lists</h3>
    <div>
      <a href="#" class="btn btn-primary" routerLink="/posts/add">Add Posts</a>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        @for (item of posts$ | async; track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td><a [routerLink]="['edit', item.id]">Update</a></td>
          <td><button (click)="removePostById(item.id!)">X</button></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
