<div class="row my-4">
  <form [formGroup]="postForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title" />
    </div>
    <div class="mb-3">
      <label>Description</label>
      <textarea
        type="text"
        class="form-control"
        formControlName="description"
      ></textarea>
    </div>
    <div class="my-3">
      <button class="btn btn-primary" type="submit">Add Post</button>
    </div>
  </form>
</div>
